@tailwind base;
@tailwind components;
@tailwind utilities;


.tweet-text a:link {
    color: rgb(44, 93, 171)
}

.tweet-text a:link:hover {
    text-decoration: underline;
    color: rgb(62, 136, 255)
}

.mention {
    color: rgb(44, 93, 171)
}

.mention:hover {
    color: rgb(62, 136, 255)
}

@keyframes open-thread {
    from {
        max-height: 0px;
        opacity: 0.5;
    }

    to {
        max-height: 500px;
        height: auto;
        display: block;
        opacity: 1;
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 8px;
    height: 8px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}