@tailwind base;
@tailwind components;
@tailwind utilities;




.tweet-text a:link:hover {
    text-decoration: underline;
    color: rgb(62, 136, 255)
}

.external-link {
    color: rgb(44, 93, 171)
}

.mention {
    color: rgb(44, 93, 171)
}

.mention:hover {
    color: rgb(62, 136, 255)
}

@keyframes open-thread {
    from {
        max-height: 0px;
        opacity: 0.5;
    }

    to {
        max-height: 500px;
        height: auto;
        display: block;
        opacity: 1;
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 8px;
    height: 8px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 0px;
}

.lds-ellipsis div {
    position: absolute;
    bottom: 35px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: rgb(229 231 235);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 0px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 0px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 13px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 28px;
    animation: lds-ellipsis3 0.6s infinite;
}