@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes open-thread {
    from {
        max-height: 0px;
    }

    to {
        max-height: var(--max_height);
    }
}

.panel-open-partial {
    --max_height: 500px;
    animation-name: open-thread;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: .2s;
}

.panel-open-full {}